<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Amazing Webshop</title>
        <link href="styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>My Shop</h1>
        </header>
        <table>
            <th><form action="/only-available" method="get"><input type="submit" value="Only Available"></form></th>
            <th><form action="/cheapest-first" method="get"><input type="submit" value="Cheapest First"></form></th>
            <th><form action="/contains-nike" method="get"><input type="submit" value="Contains Nike"></form></th>
            <th><form action="/average-stock" method="get"><input type="submit" value="Average Stock"></form></th>
            <th><form action="/most-expensive" method="get"><input type="submit" value="Most Expensive Available"></form></th>
        </table>
            <form class="query-form" action="/search-item" method="post">
                <p id="qr-label"><label for="query-field">Search for:</label></p>
                <input id="query-field" name="query" type="text" placeholder="...type in your query here...">
                <button id="search-button" type="submit">Search</button>
            </form>
        <table>
            <thead>
                <th class="tab-header-area">Name</th>
                <th class="tab-header-area">Description</th>
                <th class="tab-header-area">Price</th>
                <th class="tab-header-area">Quantity Of Stock</th>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.getName()}" id="name"></td>
                    <td th:text="${item.getDescription()}" id="description"></td>
                    <td th:text="${item.getPrice()}" id="price"></td>
                    <td th:text="${item.getQuantity()}" id="stock"></td>
                </tr>
            </tbody>
        </table>
    </body>

</html>
