<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <title>Pub Form</title>
    </head>
    <body>
    <h1>Pubs</h1>
    <ul>
        <li th:each="pub : ${allPubs}" th:text="${pub}"></li>
    </ul>
    <form action="/" method="POST" th:object="${pubForForm}">
        <input type="hidden" th:field="*{id}">
        Name: <input type="text" th:field="*{name}"><br>
        Number of seats: <input type="text" th:field="*{numberOfSeats}"><br>
        Address: <input type="text" th:field="*{address}"><br>
        <input type="submit" value="save">
    </form>
    </body>
</html>