<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title class="align-content-center">ToDo List</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="list-body">
<div class="container">
    <h1 class="text-center">Todos for Today.</h1>
    <div class="text-center mt-2 mb-2"><span>
        <a href="/addAssignee" class="btn btn-success">Add new Assignee</a>
        <a href="/todo/list" class="btn btn-primary">Todo List</a>
        <a href="/assignees" class="btn btn-outline-info">Assignees</a>
    </span>
    </div>
    <form class="text-left" th:action="@{/assignees}" method="post">
        <input id="query-field" name="query" type="text" placeholder="..search for todo..">
    </form>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-light">
            <th class="text-center">Id</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Tasks</th>
            <th class="text-center">Remove</th>
            <th class="text-center">Edit</th>
        </thead>
    <tbody class="container">
        <tr class="text-center" th:each="assignee : ${assignees}">
            <td th:text="${assignee.id}"></td>
            <td th:text="${assignee.name}"></td>
            <td th:text="${assignee.email}"></td>
            <td>
                <div th:unless="${assignee.toDos.isEmpty()}">
                <select>
                    <option th:each="task : ${assignee.toDos}" th:text="${task.title}"></option>
                </select>
                </div>
                <div th:if="${assignee.toDos.isEmpty()}">
                    <p>No task assigned</p>
                </div>
            </td>
            <td><a class="btn btn-outline-danger" th:href="@{/{id}/delete/(id=${assignee.id})}" th:style="|color: red|">delete</a></td>
            <td><a class="btn btn-outline-warning" th:href="@{/{id}/edit/(id=${assignee.id})}">edit</a></td>
        </tr>
    </table>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>