<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fox Tamagochi | App</title>
</head>
<body>
    <li><a th:href="@{/information/(name=${name})}" th:text="Information" th:style="|color: black;|"></a></li>
    <li><a th:href="@{/nutritionStore/(name=${name})}" th:text="|Nutrition Store|" th:style="|color: black;|"></a></li>
    <li><a th:href="@{/trickCenter/(name=${name})}" th:text="|Trick Center|" th:style="|color: black;|"></a></li>
    <img src="/greenfox.png" th:src="@{/greenfox.png}" alt="Green-Fox White"/>
        <p th:text="|This is ${fox.name} she eats ${fox.food}, drinks ${fox.drink} and knows ${fox.tricks.size()} tricks.|">
    <h1>Known Tricks</h1>
    <p th:unless="${fox.tricks.isEmpty()}">
        <ul th:each="trick : ${fox.getTricks()}">
            <li th:text="${trick}"></li>
        </ul>
    </p>
    <p th:if="${fox.tricks.isEmpty()}">You know no tricks, yet. Go and learn some.</p>
</body>
</html>