<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Login form</title>
            <link href="loginstyle.css" type="text/css" rel="stylesheet">
        </head>
        <body>
           <fieldset>
                <div>
                   <header>ACCOUNT LOGIN</header>
                   <label for="username">Username</label>
                   <form>
                       <input id="username" type="text">
                   </form>
                   <label for="password">Password</label>
                   <form>
                       <input id="password" type="password">
                   </form>
                   <a href="https://haveibeenpwned.com/">Forgot Password?</a>
                   <p><input id="login" type="submit" value="Login"></p>
               </div>
           </fieldset>
        </body>
    </html>