<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <link href="signupstyle" type="text/css" rel="stylesheet">
</head>
<body>
<fieldset>
    <div>
        <header>Sign Up</header>
        <form>
            <input id="username" type="text" placeholder="Username" required aria-required="true">
        </form>
        <form>
            <input id="email" type="email" placeholder="Email" required aria-required="true">
        </form>
        <form>
            <input id="password" type="password" placeholder="Password" required aria-required="true">
        </form>
        <form>
            <input id="confirmPassword" type="password" placeholder="Retype password" required aria-required="true">
        </form>
        <p><input id="signUp" type="submit" formaction="https://newsletter-ws.herokuapp.com/register"
                   formmethod="post" value="SIGN ME UP"></p>
    </div>
</fieldset>
</body>
</html>